<h3>Products List</h3>
<div basic-highlight>Basic Highlight Directive</div>
<!-- <div better-highlight [defaultColor]="'chartreuse'">Better Highlight Directive</div> -->
<div [better-highlight]="'chartreuse'" [hc]="'maroon'">Better Highlight Directive</div>
<div class="row">
    <div class="col-md-1">
        Filter: 
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Filter">
    </div>
    <div class="col-md-2" *ngIf="filterText.length>0 else noFilter">
        <div class="alert alert-primary" role="alert">
            <strong>{{filterText}}</strong>
        </div>
    </div>
    <ng-template #noFilter>
        <div class="col-md-2">
            <div class="alert alert-warning" role="alert">
                <strong>No Filter added</strong>
            </div>
        </div>
        
    </ng-template>
    <div class="col-md-2">
        <button type="button" (click)="AddProd()" class="btn btn-primary">Add Product</button>
    </div>
</div>
<div class="row">
    <div style="margin-top: 5px;" *ngFor="let prod of productsList | filter : filterText : 'title': 'description'" class="col-md-3">
        <product-thumbnail [p]="prod" (sd)="received($event)"></product-thumbnail>
    </div>
</div>