<div class="card">
    <img class="card-img-top" width="100px" height="100px" [src]="product.imageurl" alt="">
    <div class="card-body">
        <h4 class="card-title">{{product.title | uppercase | lowercase }}</h4>
        <p class="card-text">{{product.description | lowercase}}</p>
        <p>Price : {{product.price | currency : 'GBP' : 'symbol' : '2.0-0'}} <span *ngIf="product.price>25">Expensive</span></p>
        <!-- <p>Price : {{product.price}} <span [hidden]="product.price<25">Expensive</span></p> -->
        
        <p>{{currentDate | date : 'dd/MM/yyyy' }}</p>

        <p-rating [ngModel]="product.rating" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
    </div>
</div>